In [2]:
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

In [6]:
import pandas as pd
file_name = r"C:\Users\Looman\Downloads\pima-indians-diabetes.data.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
DataFrame = pd.read_csv(file_name, names=names) # Use pd.read_csv
DataFrame.head()

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [8]:
array=DataFrame.values
X=array[:,0:8]
Y=array[:,8]

In [10]:
num_trees=100
seed=7
k_fold=KFold(n_splits=10,random_state=seed,shuffle=True) 
model=RandomForestClassifier(n_estimators=num_trees,max_features=3)
k_fold

KFold(n_splits=10, random_state=7, shuffle=True)

In [14]:
result=cross_val_score(model,X,Y,cv=k_fold)
print(result.mean())

0.7617395762132604